<form [formGroup]="form" (ngSubmit)="submit()">

  <input class="input w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none placeholder:text-gray-500" placeholder="Enter OTP" formControlName="otp">
  <div *ngIf="form.get('otp')?.touched">
      <small class="error" *ngIf="form.get('otp')?.errors?.['required']" class="text-red-500 text-sm mt-1">
        OTP is required
      </small>
      </div>

  <button type="submit" class="btn w-1/2 block mt-4 mx-auto bg-brand-accent text-white py-2 rounded-lg hover:bg-brand-accent/90 transition disabled:bg-gray-400 disabled:cursor-not-allowed cursor-pointer">Verify</button>

</form>
